{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="single-product-main-wrapper">
    <div class="single-product-wrapper" style="width: 94%; display: flex; flex-wrap: wrap; justify-content: space-between;">

        <div class="single-product-top" style="gap: 40px;">
            <div style="display: flex; flex-direction: column; gap: 15px;">
                {% for product in items %}

                    <div class="checkout-single-product" style="border: solid 2px #ffa500; padding: 20px; display: flex; align-items: center; border-radius: 10px;">
                        <div class="single-product-photos">
                            <div class="main-img" style="width: 260px; height: 160px;">
                                <img id="single-product-main-img" src="{{product.product.img.url}}" alt="">
                            </div>
                        </div>
    
                        <div class="single-product-details">
                            <h2 style="font-size: 20px;">{{ product.product.name }}</h2>
                            <p>Quantity: {{product.quantity}}</p>
                            <p>Price: ${{product.product.price}}</p>
                        </div>
                    </div>

                {% endfor %}

                <div class="cart-right" style="border: solid 2px #ffa500; padding: 20px; display: flex; align-items: center; border-radius: 10px; width: 25%; align-self: flex-end;">
                    <p>Subtotal ({{total_items}} Items{{total_items|pluralize}}): <span style="font-weight: bold;">${{total_price|floatformat:2}}</span></p>
                </div>

            </div>
            <div class="single-product-fast-order">
                <form action="{% url 'checkout' %}" method="POST" id="checkoutForm">
                    {% csrf_token %}
                    <h3>Order Details</h3>

                        {% if not request.user.is_authenticated %}
                        {{form.name.label}}
                        {% endif %}
                        {{form.name}}

                        {% if not request.user.is_authenticated %}
                        {{form.email.label}}
                        {% endif %}
                        {{form.email}}



                        {{form.country.label}}
                        {{form.country}}

                        {{form.city.label}}
                        {{form.city}}

                        {{form.zip.label}}
                        {{form.zip}}

                        {{form.address.label}}
                        {{form.address}}

                    <button id="checkout-continue-btn" style="display: block;">Continue</button>

                    <div id="paypal-button-container" style="display: none;"></div>
                </form>
            </div>

        </div>

    </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AWjIQZRQEyCayCQZpVxsCgCPkV3dSUz8ozu__UVw9AZ2GAelNTA2wt1SgSR9_KC7WvBHpsPSnMK3yhh8&currency=USD"></script>

    <script>
        const total = '{{total_price}}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style:{
                color:  'blue',
                shape:  'pill',
                label:  'pay',
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    
                    document.getElementById("checkoutForm").submit()

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }
        }).render('#paypal-button-container');

        const continueBtn = document.getElementById('checkout-continue-btn')
        continueBtn.addEventListener('click', onSubmit)

        function onSubmit(e){
            e.preventDefault()
            const formData = new FormData(e.target.parentElement)
            const data = Object.fromEntries(formData)
            
            if(!data['name']){
                document.getElementById('paypal-button-container').style.display = 'none'
                document.querySelector('#id_name').style.border = '2px solid red'
            }else{
                document.querySelector('#id_name').style.border = '2px solid #ce8806'
            }
            if(!data['email'] || !validateEmail(data['email'])){
                document.getElementById('paypal-button-container').style.display = 'none'
                document.querySelector('#id_email').style.border = '2px solid red'
            }else{
                document.querySelector('#id_email').style.border = '2px solid #ce8806'
            }
            if(!data['country']){
                document.getElementById('paypal-button-container').style.display = 'none'
                document.querySelector('#id_country').style.border = '2px solid red'
            }else{
                document.querySelector('#id_country').style.border = '2px solid #ce8806'
            }
            if(!data['city']){
                document.getElementById('paypal-button-container').style.display = 'none'
                document.querySelector('#id_city').style.border = '2px solid red'
            }else{
                document.querySelector('#id_city').style.border = '2px solid #ce8806'
            }
            if(!data['zip']){
                document.getElementById('paypal-button-container').style.display = 'none'
                document.querySelector('#id_zip').style.border = '2px solid red'
            }else{
                document.querySelector('#id_zip').style.border = '2px solid #ce8806'
            }
            if(!data['address']){
                document.getElementById('paypal-button-container').style.display = 'none'
                document.querySelector('#id_address').style.border = '2px solid red'
            }else{
                document.querySelector('#id_address').style.border = '2px solid #ce8806'
            }
            if(data['name'] && data['email'] && data['country'] && data['city'] && data['zip'] && data['address'] && validateEmail(data['email'])){
                document.getElementById('paypal-button-container').style.display = 'block'
            }
        }

        const validateEmail = (email) => {
            return String(email)
                .toLowerCase()
                .match(
                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                );
            };

    </script>

{% endblock content %}