{% extends 'main.html' %}

{% load static %}

{% block content %}

    <div class="products-wrapper">

        <div class="products-right-wrapper">
            {% if word %}
            <div class="total-results">{{page_start_index}}-{{page_end_index}} of {{total_results}} total results for <span>{{word}}</span></div>
            {% else %}
            <div class="total-results">{{page_start_index}}-{{page_end_index}} of {{total_results}} total results for <span>{{category}}</span></div>
            {% endif %}
            
            <div class="products-right">
                
                {% for product in page_obj %}
                <div class="single-product">
                    <a href="{% url 'single-product' product.category product.pk %}"><img src="{{product.img.url}}" alt=""></a>
                    <div class="single-product-info">
                        <a href="{% url 'single-product' product.category product.pk %}"><p class="single-product-name">{{product.name}}</p></a>
                        {% if product.producer %}
                        <p class="producer">By {{product.producer}}</p>
                        {% endif %}
                        <div class="single-product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                            <p class="total-votes"> 17,856</p>
                        </div>
                        <p class="single-product-price">${{product.price}}</p>
                        <a id="add-to-cart-single-product" class="update-cart-btn" data-product="{{product.id}}" data-user="{{request.user}}" data-action="add" href="">Add to Cart</a>
                        {% comment %} <a href="" class="platform">Nintendo</a> {% endcomment %}
                    </div>
                </div>
                {% endfor %}
    
            </div>
            <div class="pages-wrapper-main">
                <ul class="pages-wrapper">

                    {% if word %}

                        <li><a href="?search={{word}}&page=1" id="page-btn">1</a></li>

                        {% if page_obj.has_previous and page_obj.previous_page_number != 1 %}
                            
                            <li><a href="?search={{word}}&page={{page_obj.previous_page_number}}" id="page-btn">{{page_obj.previous_page_number}}</a></li>

                        {% endif %}

                        {% if page_obj.has_previous and page_obj.has_next %}
                            <li><a href="?search={{word}}&page={{page_obj.number}}" id="page-btn">{{page_obj.number}}</a></li>
                        {% endif %}

                        {% if page_obj.has_next and page_obj.next_page_number != page_obj.paginator.num_pages %}

                            <li><a href="?search={{word}}&page={{page_obj.next_page_number}}" id="page-btn">{{page_obj.next_page_number}}</a></li>

                        {% endif %}

                        {% if page_obj.paginator.num_pages > 1 %}

                            <li><a href="?search={{word}}&page={{page_obj.paginator.num_pages}}" id="page-btn">{{page_obj.paginator.num_pages}}</a></li>
                            
                        {% endif %}

                    {% else %}

                        <li><a href="?page=1" id="page-btn">1</a></li>

                        {% if page_obj.has_previous and page_obj.previous_page_number != 1 %}
                            
                            <li><a href="?page={{page_obj.previous_page_number}}" id="page-btn">{{page_obj.previous_page_number}}</a></li>

                        {% endif %}

                        {% if page_obj.has_previous and page_obj.has_next %}
                            <li><a href="?page={{page_obj.number}}" id="page-btn">{{page_obj.number}}</a></li>
                        {% endif %}

                        {% if page_obj.has_next and page_obj.next_page_number != page_obj.paginator.num_pages %}

                            <li><a href="?page={{page_obj.next_page_number}}" id="page-btn">{{page_obj.next_page_number}}</a></li>

                        {% endif %}

                        {% if page_obj.paginator.num_pages > 1 %}

                            <li><a href="?page={{page_obj.paginator.num_pages}}" id="page-btn">{{page_obj.paginator.num_pages}}</a></li>

                        {% endif %}

                    {% endif %}


                    {% comment %} <li><a href="" style="pointer-events: none;">...</a></li> {% endcomment %}

                </ul>
            </div>
        </div>


    </div>

    {% endblock content %}
