{% extends 'main.html' %}

{% load static %}

{% block content %}

    <div class="products-wrapper">

        <div class="products-left">
            {% comment %} <div class="brands checkbox-filter">
                <p class="filter-label">Brands</p>
                <ul>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">Xbox</label>
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">Nintendo</label>
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">PlayStation</label>
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">Logitech G</label>
                    </li>
                </ul>
            </div> {% endcomment %}

            <div class="price checkbox-filter">
                <p class="filter-label">Price</p>
                <ul>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">-$100</label>
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">-$200</label>
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">-$300</label>
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">-$400</label>
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">-$500</label>
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">$500+</label>
                    </li>
                </ul>
            </div>

            <div class="rating checkbox-filter">
                <p class="filter-label">Avg. Customer Review</p>
                <ul>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </label> & Up
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </label> & Up
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </label> & Up
                    </li>
                    <li class="checkbox-filter-li">
                        <input type="checkbox">
                        <label for="">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </label> & Up
                    </li>
                </ul>
            </div>

        </div>

        <div class="products-right-wrapper">
            <h3>Gaming</h3>
            <div class="total-results">1-12 of {{total_results}} total results for <span>Gaming</span></div>
            <div class="products-right">
                
                {% for product in object_list %}
                <div class="single-product">
                    <a href="{% url 'single-product' product.category product.pk %}"><img src="{{product.img.url}}" alt=""></a>
                    <div class="single-product-info">
                        <a href="{% url 'single-product' product.category product.pk %}"><p class="single-product-name">{{product.name}}</p></a>
                        {% if product.producer %}
                        <p class="producer">By {{product.producer}}</p>
                        {% endif %}
                        <div class="single-product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                            <p class="total-votes"> 17,856</p>
                        </div>
                        <p class="single-product-price">${{product.price}}</p>
                        {% comment %} <a href="" class="platform">Nintendo</a> {% endcomment %}
                    </div>
                </div>
                {% endfor %}
    
            </div>
            <div class="pages-wrapper-main">
                <ul class="pages-wrapper">

                    <li><a href="?page=1" id="page-btn">1</a></li>

                    {% if page_obj.has_previous %}
                        
                        <li><a href="?page={{page_obj.previous_page_number}}" id="page-btn">{{page_obj.previous_page_number}}</a></li>

                    {% endif %}

                    {% if page_obj.has_next %}

                        <li><a href="?page={{page_obj.next_page_number}}" id="page-btn">{{page_obj.next_page_number}}</a></li>

                    {% endif %}

                    <li><a href="?page={{page_obj.paginator.num_pages}}" id="page-btn">{{page_obj.paginator.num_pages}}</a></li>


                    {% comment %} <li><a href="" style="pointer-events: none;">...</a></li>

                    <li><a href="" id="page-btn{{page}}">{{page}}</a></li>

                    <li><a href="" id="page-btn{{page}}">{{page}}</a></li> {% endcomment %}

                </ul>
            </div>
        </div>


    </div>

    {% endblock content %}
